[submodule "External/libUtils"]
	path = External/libUtils
	url = https://github.com/AetherPS/libUtils
[submodule "External/StubMaker"]
	path = External/StubMaker
	url = https://github.com/OSM-Made/StubMaker
[submodule "External/libFusionDriver"]
	path = External/libFusionDriver
	url = https://github.com/AetherPS/libFusionDriver
